# Evaluation

In [5]:
import pandas as pd
from sklearn.metrics import confusion_matrix

### 2. Given the following confusion matrix, evaluate (by hand) the model's performance.
|               | pred dog   | pred cat   |
|:------------  |-----------:|-----------:|
| actual dog    |         46 |         7  |
| actual cat    |         13 |         34 |

- In the context of this problem, what is a false positive?
- In the context of this problem, what is a false negative?
- How would you describe this model?

In [6]:
#In the context of this problem, what is a false positive?
#A false positive would be predicting a cat, but it is actually a dog.

In [7]:
#In the context of this problem, what is a false negative?
#A false negative would be be predicting a dog, but it is actually a cat.

In [8]:
#How would you describe this model?
#This model is better at predicting dogs than it is at predicting cats

tp = 46
tn = 34
fp = 7
fn = 13
accuracy = (tp + tn) / (tp + tn + fp + fn)
recall = tp / (tp + fn)
precision = tp / (tp + fp)

print('accuracy: ', accuracy)
print('recall: ', recall)
print('precision: ', precision)

accuracy:  0.8
recall:  0.7796610169491526
precision:  0.8679245283018868

### 3. You are working as a datascientist working for Codeup Cody Creator (C3 for short), a rubber-duck manufacturing plant.
### Unfortunately, some of the rubber ducks that are produced will have defects. Your team has built several models that try to predict those defects, and the data from their predictions can be found here.

### Use the predictions dataset and pandas to help answer the following questions:
- An internal team wants to investigate the cause of the manufacturing defects. They tell you that they want to identify as many of the ducks that have a defect as possible. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?
- Recently several stories in the local news have come out highlighting customers who received a rubber duck with a defect, and portraying C3 in a bad light. The PR team has decided to launch a program that gives customers with a defective duck a vacation to Hawaii. They need you to predict which ducks will have defects, but tell you the really don't want to accidentally give out a vacation package when the duck really doesn't have a defect. Which evaluation metric would be appropriate here? Which model would be the best fit for this use case?

In [9]:
#Which evaluation metric would be appropriate here? 
#Which model would be the best fit for this use case?

In [10]:
#recall would be appropritate to use here since we want to capture as many defects as possible, even if that means flagging a duck as defective when it actually issnt.  Model 3 would be the best fit for this case.

In [13]:
df = pd.read_csv('c3.csv')
df.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [14]:
model1 = pd.crosstab(df.actual, df.model1)
model1

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [15]:
model2 = pd.crosstab(df.actual, df.model2)
model2

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [16]:
model3 = pd.crosstab(df.actual, df.model3)
model3

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [17]:

# PR team really wants to minimize the False positives - meaning choose model with highest precision:

subset = df[df.model1 == 'Defect']

model_precision = (subset.actual == subset.model1).mean()

print("Model 1")
print(f"Model precision: {model_precision:.2%}")

subset = df[df.model2 == 'Defect']

model_precision = (subset.actual == subset.model2).mean()

print("Model 2")
print(f"Model precision: {model_precision:.2%}")

subset = df[df.model3 == 'Defect']

model_precision = (subset.actual == subset.model3).mean()

print("Model 3")
print(f"Model precision: {model_precision:.2%}")

Model 1
Model precision: 80.00%
Model 2
Model precision: 10.00%
Model 3
Model precision: 13.13%

In [11]:
#They need you to predict which ducks will have defects, but tell you they really don't want to 
#accidentally give out a vacation package when the duck really doesn't have a defect. 
#Which evaluation metric would be appropriate here? Which model would be the best fit for this
#use case?
#Precision
#the model that would best fit for this case would be model 1

### 4. You are working as a data scientist for Gives You Paws ™, a subscription based service that shows you cute pictures of dogs or cats (or both for an additional fee).

### At Gives You Paws, anyone can upload pictures of their cats or dogs. The photos are then put through a two step process. First an automated algorithm tags pictures as either a cat or a dog (Phase I). Next, the photos that have been initially identified are put through another round of review, possibly with some human oversight, before being presented to the users (Phase II).

### Several models have already been developed with the data, and you can find their results here.

### Given this dataset, use pandas to create a baseline model (i.e. a model that just predicts the most common class) and answer the following questions:

- a. In terms of accuracy, how do the various models compare to the baseline model? Are any of the models better than the baseline?
- b. Suppose you are working on a team that solely deals with dog pictures. Which of these models would you recomend for Phase I? For Phase II?
- c. Suppose you are working on a team that solely deals with cat pictures. Which of these models would you recomend for Phase I? For Phase II?

In [26]:
df = pd.read_csv('gives_you_paws.csv')

In [27]:
df.tail(5)

     actual model1 model2 model3 model4
4995    dog    dog    dog    dog    dog
4996    dog    dog    cat    cat    dog
4997    dog    cat    cat    dog    dog
4998    cat    cat    cat    cat    dog
4999    dog    dog    dog    dog    dog

In [28]:
df.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [29]:
# In terms of accuracy, how do the various models compare to the baseline model? 
# Are any of the models better than the baseline?

In [30]:
#all crosstabs
model1= pd.crosstab(df.actual, df.model1)
model2= pd.crosstab(df.actual, df.model2)
model3= pd.crosstab(df.actual, df.model3)
model4= pd.crosstab(df.actual, df.model4)

In [31]:
#model1
#accuracy = (TP + TN) / (TP + TN + FP + FN)
print("Confusion Matrix: Model 1")
print(model1)
print('\n')

#accuracy1
accuracy1 = ((1423 + 2614) / (1423 + 2614 + 323 + 640)) * 100
print("The accuracy rate of model 1 is:", accuracy1)
print('\n')

Confusion Matrix: Model 1
model1   cat   dog
actual
cat     1423   323
dog      640  2614


The accuracy rate of model 1 is: 80.74

In [32]:
#model2
#accuracy = (TP + TN) / (TP + TN + FP + FN)
print("Confusion Matrix: Model 2")
print(model2)
print('\n')

#accuracy2
accuracy2 = ((1555 + 1597) / (1555 + 1597 + 191 + 1657)) * 100
print("The accuracy rate of model 1 is:", accuracy2)
print('\n')

Confusion Matrix: Model 2
model2   cat   dog
actual
cat     1555   191
dog     1657  1597


The accuracy rate of model 1 is: 63.04

In [33]:
#model3
#accuracy = (TP + TN) / (TP + TN + FP + FN)
print("Confusion Matrix: Model 3")
print(model3)
print('\n')

#accuracy3
accuracy3 = ((893 + 1655) / (893 + 1655 + 853 + 1599)) * 100
print("The accuracy rate of model 1 is:", accuracy3)
print('\n')

Confusion Matrix: Model 3
model3   cat   dog
actual
cat      893   853
dog     1599  1655


The accuracy rate of model 1 is: 50.96000000000001

In [34]:
#model4
#accuracy = (TP + TN) / (TP + TN + FP + FN)
print("Confusion Matrix: Model 4")
print(model4)
print('\n')

#accuracy4
accuracy4 = ((603 + 3110) / (603 + 3110 + 1143 + 144)) * 100
print("The accuracy rate of model 1 is:", accuracy4)
print('\n')

Confusion Matrix: Model 4
model4  cat   dog
actual
cat     603  1143
dog     144  3110


The accuracy rate of model 1 is: 74.26

In [35]:
df['baseline_prediction'] = 'dog'

In [36]:
# baseline model crosstab
print('Baseline Confusion Matrix: ')
print(pd.crosstab(df.actual, df.baseline_prediction))

base_accuracy = (3254 / (3254 + 1746)) * 100
print('\n')
print("The accuracy rate of the baseline model is:", base_accuracy)
print('\n')

Baseline Confusion Matrix:
baseline_prediction   dog
actual
cat                  1746
dog                  3254


The accuracy rate of the baseline model is: 65.08

In [37]:
print('model 1: ', accuracy1)
print('model 2: ', accuracy2)
print('model 3: ', accuracy3)
print('model 4: ', accuracy4)
print('baseline : ', base_accuracy)

print("Model 1 and model 4 are more accurate than the baseline model.")
print("Model 2 and model 3 are less accurate than the baseline model.")

model 1:  80.74
model 2:  63.04
model 3:  50.96000000000001
model 4:  74.26
baseline :  65.08
Model 1 and model 4 are more accurate than the baseline model.
Model 2 and model 3 are less accurate than the baseline model.

In [38]:
#b. Suppose you are working on a team that solely deals with dog pictures. 
#Which of these models would you recomend for Phase I? For Phase II?

In [39]:
#precision:  positive predictions
# precision = TP / (TP + FP)

prec_1 = round((2614) / (2614 + 323) * 100, 2)
prec_2 = round((1597) / (1597 + 191) * 100, 2)
prec_3 = round((1655) / (1655 + 853) * 100, 2)
prec_4 = round((3110) / (3110 + 1143) * 100, 2)

print('model 1 :', prec_1)
print('model 2 :', prec_2)
print('model 3 :', prec_3)
print('model 4 :', prec_4)

print('\n')
print('Model 2 has the best precision rate.')

model 1 : 89.0
model 2 : 89.32
model 3 : 65.99
model 4 : 73.12


Model 2 has the best precision rate.

In [40]:
#For Phase II?
#looking for recall, % positives labeled correctly
#recall = tp /tp + fn
recall_1 = round((2614) / (2614 + 640) * 100, 2)
recall_2 = round((1597) / (1597 + 1657) * 100, 2)
recall_3 = round((1655) / (1655 + 1599) * 100, 2)
recall_4 = round((3110) / (3110 + 144) * 100, 2)

print('model 1 recall rate:', recall_1)
print('model 2 recall rate:', recall_2)
print('model 3 recall rate:', recall_3)
print('model 4 recall rate:', recall_4)

print('\n')
print('Model 4 has the best recall rate.')

model 1 recall rate: 80.33
model 2 recall rate: 49.08
model 3 recall rate: 50.86
model 4 recall rate: 95.57


Model 4 has the best recall rate.

### 5. Follow the links below to read the documentation about each function, then apply those functions to the data from the previous problem.

- sklearn.metrics.accuracy_score
- sklearn.metrics.precision_score
- sklearn.metrics.recall_score
- sklearn.metrics.classification_report

In [41]:
df.head()

  actual model1 model2 model3 model4 baseline_prediction
0    cat    cat    dog    cat    dog                 dog
1    dog    dog    cat    cat    dog                 dog
2    dog    cat    cat    cat    dog                 dog
3    dog    dog    dog    cat    dog                 dog
4    cat    cat    cat    dog    dog                 dog

In [42]:
df["baseline"] = df.actual.value_counts().idxmax()

In [43]:
#create subsets
subset1 = df[df.model1 == 'dog']
subset2 = df[df.model2 == 'dog']
subset3 = df[df.model3 == 'dog']
subset4 = df[df.model4 == 'dog']

In [44]:
subset1.head()

  actual model1 model2 model3 model4 baseline_prediction baseline
1    dog    dog    cat    cat    dog                 dog      dog
3    dog    dog    dog    cat    dog                 dog      dog
5    dog    dog    dog    dog    dog                 dog      dog
7    cat    dog    cat    cat    dog                 dog      dog
8    dog    dog    cat    dog    dog                 dog      dog

In [45]:
# Model 1 Precision
(subset1.actual == subset1.model1).mean()

0.8900238338440586

In [46]:
# Model 2 Precision
(subset2.actual == subset2.model2).mean()

0.8931767337807607

In [47]:
# Model 3 Precision
(subset3.actual == subset3.model3).mean()

0.6598883572567783

In [48]:
# Model 4 Precision
(subset4.actual == subset4.model4).mean()

0.7312485304490948

In [ ]:
#Dog team’s Phase-2 model is Model 2 with Precision of 0.893

### cat team
- positive = cat

In [49]:
from sklearn.metrics import classification_report

In [50]:
x = classification_report(df.actual, df.model1,
                          labels = ['cat', 'dog'],
                          output_dict=True)
pd.DataFrame(x).T #t is for transposing

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [51]:
print("Model 1")
pd.DataFrame(classification_report(df.actual, df.model1,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 1

              precision    recall  f1-score    support
cat            0.689772  0.815006  0.747178  1746.0000
dog            0.890024  0.803319  0.844452  3254.0000
accuracy       0.807400  0.807400  0.807400     0.8074
macro avg      0.789898  0.809162  0.795815  5000.0000
weighted avg   0.820096  0.807400  0.810484  5000.0000

In [52]:
print("Model 2")
pd.DataFrame(classification_report(df.actual, df.model2,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 2

              precision    recall  f1-score    support
cat            0.484122  0.890607  0.627269  1746.0000
dog            0.893177  0.490781  0.633479  3254.0000
accuracy       0.630400  0.630400  0.630400     0.6304
macro avg      0.688649  0.690694  0.630374  5000.0000
weighted avg   0.750335  0.630400  0.631310  5000.0000

In [53]:
print("Model 3")
pd.DataFrame(classification_report(df.actual, df.model3,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 3

              precision    recall  f1-score    support
cat            0.358347  0.511455  0.421425  1746.0000
dog            0.659888  0.508605  0.574453  3254.0000
accuracy       0.509600  0.509600  0.509600     0.5096
macro avg      0.509118  0.510030  0.497939  5000.0000
weighted avg   0.554590  0.509600  0.521016  5000.0000

In [54]:
print("Model 4")
pd.DataFrame(classification_report(df.actual, df.model4,
                                   labels = ['cat', 'dog'],
                                   output_dict=True)).T

Model 4

              precision    recall  f1-score    support
cat            0.807229  0.345361  0.483755  1746.0000
dog            0.731249  0.955747  0.828560  3254.0000
accuracy       0.742600  0.742600  0.742600     0.7426
macro avg      0.769239  0.650554  0.656157  5000.0000
weighted avg   0.757781  0.742600  0.708154  5000.0000

In [55]:
#
#Cat team’s Phase-1 model is Model 2 with Recall of 0.89
#Cat team’s Phase-2 model is Model 4 with Precision of 0.81